/* Theme */

header {
	background: #303F9F;
	color: #FAFAFA;
}

main {
	background: #303F9F;
	color: #FAFAFA;
}

footer {
	background: #303F9F;
	color: #FAFAFA;
}


.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}