/* Theme */

main {
	background: #303F9F;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.contact a {
	color: #FFFFFF;
}

.inspiration a {
	color: #FFFFFF;
}